* {
    box-sizing: border-box;
    
    font-family: 'Times New Roman', Times, serif, Arial;
}

body {
   margin: 10px;
}


header{

    padding: 20px;
   
    background-color: #000000;
    color: #ffffff;

}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav { 
    float: right;
    display: flex;
    flex-direction: row;

    border-bottom-style: solid;
    border-width: 5px;
    border-color: lightblue;
 
}

a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
}


main {


    width: 85%;
    margin-left: auto;
    margin-right:auto;
}

#Cover{
    width: 100%;
    position: relative;

}

#Cover h3{

    position: absolute;
    bottom: 10%;
    right: 15%;
    background-color: #ffffff;
}

.Galaxy{


    width: 100%;
    object-fit: cover;
    background-position: center;

   height: 200px;


}

.Portrait{

    width: 15%;
    height: 10%;
    display: block;
  margin-left: 20px;
  margin-right: auto;
  
}

.Work-Photos{

    width: 20%;
    height: 15%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  

}







main p{
   
    padding-left: 25%;
    padding-right:25%;
}


main section h2{
    border-right-style: solid;
    border-color: lightblue;
    width: 20%;
}




@media screen and (max-width: 768px) {

    header {
        padding-bottom: 45px;
        text-align: center;
    },

   main img {
        display: flex ;
        flex-wrap: wrap;


   }
   
}


On screens that are 992px wide or less, go from four columns to two columns
@media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }